
.divWithBackground {
    background-image: url('../img/generated.jpg');
    width: 640px;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.descriptionWrapper {
    width:500px;
    height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.singleDescription {
    width: 33%;
    height: 100%;
}

.divRange {
    width:500px;
    text-align: center;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

.divAnimate {
    width:500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.divTime {
    margin-top: 40px;
    text-align: center;
}
body {
    margin: 8px;
}