body {
  font-family: "Lato";
  font-weight: 300;
  margin: 8px; }

.wrapper {
  max-width: 800px;
  margin: 30px auto;
  position: relative; }

#mobile {
  display: block;
  color: white;
  text-align: center;
  font-size: 14px; }
  @media screen and (min-width: 768px) {
    #mobile {
      display: none; } }
  #mobile p {
    width: 80%;
    margin: 0 auto;
    text-align: left; }
  #mobile .logo {
    width: 85%; }
  #mobile .heading {
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 30px; }
  #mobile .pre-yt {
    margin-bottom: 20px; }
  #mobile .post-yt {
    margin-top: 20px; }

#desktop {
  display: block; }
  @media screen and (max-width: 768px) {
    #desktop {
      display: none; } }
  #desktop .header {
    display: inline-block;
    margin-bottom: 30px;
    clear: both; }
    #desktop .header img {
      width: 330px;
      float: left; }
    #desktop .header p {
      color: white;
      margin: 5px 0 0 20px;
      font-size: 20px;
      float: left; }
  #desktop .divWithBackground {
    background: url("../img/kino_praha_heatmap.png") no-repeat;
    width: 750px;
    height: 454px;
    position: relative;
    margin-left: auto;
    margin-right: auto; }
    #desktop .divWithBackground .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 454px;
      z-index: 10;
      text-align: center; }
      #desktop .divWithBackground .overlay .play {
        cursor: pointer;
        opacity: 1;
        display: block;
        margin: 30px auto 0px auto;
        width: 180px;
        padding-right: 33px; }
      #desktop .divWithBackground .overlay .txt {
        display: block;
        font-size: 30px;
        margin: 20px auto; }
  #desktop .descriptionWrapper {
    position: relative;
    width: 750px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 16px;
    color: white; }
    #desktop .descriptionWrapper .inside {
      display: none; }
    #desktop .descriptionWrapper .author {
      text-align: center;
      line-height: 30px;
      display: inline-block;
      width: 100%;
      font-size: 17px; }
  #desktop .bottomDescriptionWrapper {
    width: 750px;
    height: 20px;
    text-align: center;
    margin: 15px auto 0px auto; }
  #desktop .singleMovie {
    width: 209px;
    height: 118px;
    position: absolute;
    z-index: 1; }
  #desktop #room-1 {
    left: 50px;
    top: 0px; }
  #desktop #room-2 {
    left: 265px;
    top: 0px; }
  #desktop #room-3 {
    left: 483px;
    top: 0px; }
  #desktop #room-1-movie-container, #desktop #room1 {
    left: 52px;
    top: 4px; }
  #desktop #room-2-movie-container {
    left: 266px;
    top: 4px; }
  #desktop #room-3-movie-container {
    left: 483px;
    top: 4px; }
  #desktop .singleDescription {
    display: block;
    width: 209px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: left;
    position: absolute; }
  #desktop .divRange {
    width: 768px;
    text-align: center;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto; }
  #desktop .divAnimate {
    width: 750px;
    font-size: 23px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden; }
  #desktop .divLoading {
    width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    visibility: visible; }
  #desktop .divTime {
    width: 140px;
    margin-top: 0px;
    display: block;
    font-size: 31px;
    float: left;
    text-align: center; }
  #desktop .divControl {
    display: block;
    width: 57px;
    height: 56px;
    margin-left: auto;
    margin-right: auto; }
  #desktop .frame {
    display: block;
    width: 209px;
    height: 118px;
    margin-left: auto;
    margin-right: auto; }

.icon {
  background: url("../img/sprites.png") no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer; }
  .icon.icon-pause {
    background-position: 0px 0px; }
    .icon.icon-pause:hover {
      background-position: 0px -40px; }
  .icon.icon-play {
    background-position: -40px 0px; }
    .icon.icon-play:hover {
      background-position: -40px -40px; }
  .icon.icon-twitter {
    background-position: -80px 0px; }
    .icon.icon-twitter:hover {
      background-position: -80px -40px; }
  .icon.icon-github {
    background-position: -120px 0px; }
    .icon.icon-github:hover {
      background-position: -120px -40px; }
  .icon.icon-facebook {
    background-position: -160px 0px; }
    .icon.icon-facebook:hover {
      background-position: -160px -40px; }

.rangeslider {
  width: 570px !important;
  top: 19px !important;
  right: 9px !important;
  float: right; }

.play-pause {
  float: left; }

.footer {
  color: white;
  text-align: center;
  margin-top: 65px;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    .footer {
      margin-top: 40px; } }
  .footer a {
    text-decoration: none; }
  .footer .info {
    width: 530px;
    text-align: justify;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .footer .info {
        width: 80%;
        text-align: left; } }
  .footer .social {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    width: 100%; }
    .footer .social div {
      width: 151px;
      margin: 30px auto;
      display: block;
      height: 40px; }
      .footer .social div .icon {
        display: inline-block !important;
        margin-left: 5px;
        margin-right: 5px;
        float: left; }
  .footer .mce2015 {
    cursor: pointer;
    margin: 20px auto;
    color: #d3dd2a;
    border: 1px solid #d3dd2a;
    width: 300px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    text-align: center; }
    .footer .mce2015:hover {
      color: #e5eb82;
      border-color: #e5eb82; }

.preloader {
  display: none; }
